<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <appSettings>
    <add key="webpages:Version" value="5.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--OAuth Prod company -->
    <add key="applicationToken" value="079612baba165b4b90b8728b793ff0f153d8"/>
    <add key="consumerKey" value="qyprdTofPrkvPkTvyrhmhGkQVeCkk7"/>
    <add key="consumerSecret" value="B4aPhgMLu91cL5ONHLvH6ulpxa8yxYGkuKfEhWLk"/>
    <!--OAuth Dev/Sandbox company-->
    <!--<add key="applicationToken" value="" />

    <add key="consumerKey" value="qyprd68jMGebyWgiNFT411r4KnhmB9" />

    <add key="consumerSecret" value="j2QGgFRv5yYMXB5lVXUI0NBPlHAmz0drjANG1KeX" />-->
    <!--OAuth Dev/Sandbox company- for a developer-->
    <!--<add key="applicationToken" value="ac1a1217bc327b4701baa5bbe8d629716c2b" />
    <add key="consumerKey" value="qyprdPyI2zStZIVO1VilbbZvWy6E5q" />
    <add key="consumerSecret" value="n4vsVfMpU83eB6gH5G9vP6eIswKg91U0JLb5hs7G" />-->
    <!--stage-->
    <!--<add key="applicationToken" value="839309a3b2b0db414fba308be4905779cd78" />
    <add key="consumerKey" value="lve2e3TOCmacK3K3DzAxQwVOi3gdvk" />
    <add key="consumerSecret" value="xN6qqoAZ7mSeyEuW2l1xMwvDrDBR7SDIpBMzKNBL" />-->
    <!--OAuth -->
    <!--Payments only app-->
    <!--<add key="applicationToken" value="c2c87556ba490b452ab9ebdb5e516d59a13b"/>

    <add key="consumerKey" value="qyprdC9LDw206rMDFuch8ADFFSN7wq"/>

    <add key="consumerSecret" value="KoLe6izZ5BK2f6qTttkJFAUEgJMGR1d6mS15XMhf"/>-->
    <!-- Configurations -->
    <add key="OauthLink" value="https://oauth.intuit.com/oauth/v1"/>
    <add key="ServiceContext.BaseUrl.Qbo" value="https://quickbooks.api.intuit.com/"/>
    <add key="AuthorizeUrl" value="https://appcenter.intuit.com/Connect/Begin"/>
    <add key="GET_REQUEST_TOKEN" value="https://oauth.intuit.com/oauth/v1/get_request_token"/>
    <add key="GET_ACCESS_TOKEN" value="https://oauth.intuit.com/oauth/v1//get_access_token"/>
    <add key="DeepLink" value="sandbox.qbo.intuit.com"/>
    <!--stage-->
    <!--<add key="OauthLink" value="https://oauthws.e2e.ep.intuit.com/oauth/v1" />

    <add key="ServiceContext.BaseUrl.Qbo" value="https://qbonline-e2e.api.intuit.com/" />
    <add key="AuthorizeUrl" value="https://appcenter-stage.intuit.com/Connect/Begin" />
    <add key="GET_REQUEST_TOKEN" value="https://oauthws.e2e.ep.intuit.com/oauth/v1/get_request_token" />
    <add key="GET_ACCESS_TOKEN" value="https://oauthws.e2e.ep.intuit.com/oauth/v1/get_access_token" />
    <add key="DeepLink" value="sandbox.qbo.intuit.com" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <intuit>
    <ipp>
      <logger>
        <!-- Custom Logger to configure -->
        <customLogger name="traceLogger" type="Intuit.Ipp.Diagnostics.TraceLogger, Intuit.Ipp.Diagnostics, Version=5.0.0.0,        Culture=neutral, PublicKeyToken=null" enable="true"/>
      </logger>
    </ipp>
  </intuit>
  <!-- <system.diagnostics>
    <switches>
      <add name="IPPTraceSwitch" value="4"/>
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="IdsTracer"
          type="System.Diagnostics.TextWriterTraceListener,
             System,
             Version=4.0.30319.1,
             Culture=neutral,
             PublicKeyToken=b77a5c561934e089"
          initializeData="F:\\SDKTrace.log" />
      </listeners>
    </trace>
  </system.diagnostics>-->
</configuration>