<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DiscoveryAuthority" value="https://oauth.platform.intuit.com/op/v1"/>
    <add key="DiscoveryUrlProduction" value="https://developer.api.intuit.com/.well-known/openid_configuration"/>
    <add key="DiscoveryUrlSandbox" value="https://developer.api.intuit.com/.well-known/openid_sandbox_configuration/"/>
    <add key="ClientId" value="Enter Client Id here"/>
    <add key="ClientSecret" value="Enter Client Secret here"/>
    <add key="RedirectUrl" value="http://localhost:49372/Default.aspx"/>
    <add key="AppEnvironment" value="Sandbox"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
