<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>

  <intuit>
    <ipp>
      <logger>
        <!-- To enable/diable Request and Response log-->
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="from config file" />
        <!-- Custom Logger to configure -->
        <customLogger name="vasu" type="" enable="true"/>
      </logger>
      
      <!--<security>
        --><!-- OAuth key set to connect to Intuit Data Services--><!--
        <oauth consumerKey="" consumerToken="" accessKey="" accessToken=""/>
        --><!-- Authorized access token (or ticket) to connect to Intuit Data Services--><!--
        <ticket></ticket>
        --><!-- Custom Security implementation--><!--
        <customSecurity name="" type="" enable="true"/>
      </security>     
      <message>
        --><!-- Serialization and compression formats to be used for Request and Response--><!--
        <Request serializationFormat="xml/json" compression="gzip/deflate"/>
        <Response serializationFormat="xml/json" compression="gzip/deflate"/>
        --><!-- Custom component to serialize or compress--><!--
        <customSerializer name="" type="" enable="true"/>
      </message>
      <retry>        
        --><!-- Retries specified number of times with a fixed specified interval between retry attempts--><!--
        <linearRetry retryCount="" retryInterval=""/>
        --><!--Retries specified number of times with the specified incremental interval between retry attempts--><!--
        <incrementatlRetry retryCount="" initialInterval="" increment=""/>
        --><!--Retries a specified number of times with a randomized exponential Backoff scheme--><!--
        <exponentialRetry retryCount="" minBackoff="" maxBackoff="" deltaBackoff=""/>
      </retry>
      <service>
        --><!-- Baseurl will be configured to point to any environment other than Production (default)--><!--
        <baseUrl Qbd="" Qbo="" PlatformService="" UserNameAuthentication=""/>
      </service>-->
      
    </ipp>
  </intuit>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
