[submodule "IPPDotNetDevKitCSV3/Sample app for testing SDK/OAuth2-Dotnet_UsingSDK"]
	path = IPPDotNetDevKitCSV3/Sample app for testing SDK/OAuth2-Dotnet_UsingSDK
	url = ../../IntuitDeveloper/OAuth2-Dotnet_UsingSDK.git
