@model IppDotNetDevKit_MvcWebRole.Models.PlatformModel
@{
    ViewBag.Title = "GetIsRealmQbo";
}
<div style="float: right; margin-right: 5px; margin-top: 5px;">
    <a href="../Home/Index">
        <img src="../../Images/back.png" alt="Back" style="max-height: 30px;" />
    </a>
</div>
<h2>GetIsRealmQbo</h2>
<br />
@using (Html.BeginForm())
{ 
    <input type="submit" value="Run" class="defaultBtn" />
    <div style="float: right;">
        Application DBID (use <b><u>bg7rqchr5</u></b> for demo.)&nbsp;: &nbsp;&nbsp;<span style="width: 40%; margin-top: 8px;">@Html.EditorFor(model => model.Value)</span>
    </div>
    <br />
    if (Model != null)
    {
        if (Model.Success)
        {
    <p>Is Realm Qbo : @Html.DisplayFor(model => model.Result)</p>   
        }
        else
        {
    <p>@Html.Raw(Model.Error)</p>
        }
    }
}