<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="IPPTraceSwitch" value="4" />
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="IdsTracer" type="System.Diagnostics.TextWriterTraceListener, System, Version=4.0.30319.1, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="C:\\Logs.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>