@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QuickBooks HelloWorld sample application</h1>
    <h2>Demonstrates Connect to QuickBooks flow and API request</h2>
</div>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("InitiateAuth", "App", FormMethod.Post))
        {

            <div><input type="submit" name="submitButton" value="Connect to QuickBooks"/></div>
            <br/>
          
            <br/>
        }
</div>
</div>