<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <appSettings>
    <add key="redirectURI" value="https://localhost:44334/OAuth2Manager.aspx"/>
    <!--http://localhost:59135/OAuth2Manager.aspx-->
    <!--Production Discovery Url to be used with Prod app client id and secret and Prod base url-->
    <!--<add key="discoveryURI" value="https://developer.api.intuit.com/.well-known/openid_configuration/" />-->
    <!--Sandbox Discovery Url to be used with Sandbox app client id and secret and Sandbox base url-->
    <add key="discoveryURI" value="https://developer.api.intuit.com/.well-known/openid_sandbox_configuration/"/>
    <add key="clientId" value=""/>
    <add key="clientSecret" value=""/>
    <!--Sandbox QBO base url-->
    <add key="qboBaseUrl" value="sandbox-quickbooks.api.intuit.com"/>
    <!--Production QBO base url-->
    <!--<add key="qboBaseUrl" value="sandbox-quickbooks.api.intuit.com"/>-->
    <add key="logPath" value="F:\\Logs\\"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>