<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>

  <intuit>
    <ipp>
      <service>
        <!-- Baseurl will be configured to point to any environment other than Production (default)-->
        <baseUrl oAuthAccessTokenUrl="https://oauth.intuit.com/oauth/v1/get_access_token_by_intuit_pseudonym"/>
      </service>
    </ipp>
  </intuit>

  <appSettings>
    <add key="OAUTHACCESSTOKENURL" value="https://oauth.intuit.com/oauth/v1/get_access_token_by_intuit_pseudonym"/>
    <add key="ApplicationToken" value="d94s3zbeng825ckytirubtudes5"/>
    <add key="CertificateName" value="idp.pfx"/>
    <add key="InvalidCertificateName" value="ACS.ServiceManagementWrapper.pfx"/>
    <add key="WrongCertificateName" value="WrongCertificateName.pfx"/>
    <add key="CertificateKeyPassword" value="intuit"/>
    <add key="InvalidCertificateKeyPassword" value="Passw0rd!"/>
    <add key="AuthIdPseudonym" value="74ef8896-fc8c-496e-b0e1-32a64870ab3f"/>
    <add key="RealmIdPseudonym" value="c799314e-abc9-4c47-99a5-09addc65d4db"/>
    <add key="ProviderId" value="aditi.sdk-test.prod-intuit.ipp.prod"/>
    <add key="AppToken" value="c3jwap4k4ij35c3h6a7ybvdxas9"/>
    <add key="DatabaseId" value="bgtkup9bh"/>

    

    <!--Specify QBO schema file folder-->
    <!--<add key="InputSchemaFolderQBO" value="D:\IntuitFiles\Output\QBO"/>-->
    <add key="InputSchemaFolderQBO" value="D:\Intuit\XML\qbo"/>

    <!--This setting is optional. If nothing is specified, output folder will be placed under Intuit.IPP.DataObject\CDMEntities\CDMEntities.cs -->
    <add key="OutputClassFileFolder" value="D:\Intuit\XML"/>

    <!--Specify AccessToken Value for QBO-->
    <add key="AccessTokenQBO" value="qyprdItGZ5s6z6LexTqkrnkmYlsS2ztmx9kirULx8WlXlPIh"/>

    <!--Specify accessTokenSecret Value for QBO-->
    <add key="accessTokenSecretQBO" value="pZCTRj6Z2fwll0VhoTd8B7jhetIrieGnva05szrr"/>

    <!--Specify consumerKey Value for QBO-->
    <add key="consumerKeyQBO" value="qyprdSdaJLV1aN4wQ3fbtBqjYuvYCu"/>

    <!--Specify consumerSecret Value for QBO-->
    <add key="consumerSecretQBO" value="jlUkPRKbuRw0fPXbPq39fs7hICBBihBpZqsZjroC"/>

    <!--Specify realmIdIA Value for QBO-->
    <add key="realmIdIAQBO" value="655168710"/>

    

    <!--Specify AppToken Value for QBO-->
    <add key="AppTokenQBO" value="dg7vbrfbzusqp6c5x6ys9d7rzt9u"/>



    
    <!--Specify ServiceRequestLogging Location -->
    <add key="ServiceRequestLoggingLocation" value="C:\\IdsLogs"/>

   


    <add key="EntityPath" value="D:\work\Intuit\SDKV2\svncode\V2Enhancements\Intuit.Ipp.Data\CDMEntities"/>

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
