<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <intuit>
    <ipp>
      <logger>

        <!--To enable/diable Request and Response log-->

        <!--<requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="C:\IdsLogs" />-->

        <!--Custom Logger to configure-->
        <customLogger name="traceLogger" type="Intuit.Ipp.Diagnostics.TraceLogger, Intuit.Ipp.Diagnostics, Version=5.9.1.0, Culture=neutral, PublicKeyToken=null" enable="true"/>

      </logger>
      <service>
        <!--Baseurl will be configured to point to any environment other than Production (default)-->
        <!--<baseUrl qbo="https://sandbox-quickbooks.api.intuit.com/"/>-->
        <baseUrl qbo ="https://qbonline-e2e.api.intuit.com/" />

      </service>
      <webhooksService>
        <verfierToken value="00faeec4-08d0-4996-bb37-698ae19f0149"/>
      </webhooksService>
    </ipp>
  </intuit>
  <appSettings>
    <add key="ConsumerKeyQBO" value="" />
    <add key="ConsumerSecretQBO" value="" />
    <add key="AccessTokenQBO" value="" />
    <add key="AccessTokenSecretQBO" value="" />
    <add key="realmIAQBO" value="" />

    <!--Intuit Anywhere QBO-->
    <add key="AppTokenQBO" value=""/>
    <add key="AccountID" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=5.9.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=5.9.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
