@{
    ViewBag.Title = "About";
}
<div style="float: right; margin-right: 5px; margin-top: 5px;">
    <a href="Index">
        <img src="../../Images/back.png" alt="Back" style="max-height: 30px;" />
    </a>
</div>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
