@{
    ViewBag.Title = "Home Page";
}
<section class="content-wrapper main-content clear-fix">
    <h3>
        Below are the list of sample features:</h3>
    <h2>
        Data Service (QBD) Operations:</h2>
        <br />
    <table class="tableClass">
        <tbody>
            <tr>
                <td>
                    <div style="background-color: #0072BC; height: 100px; width: 210px;">
                        <a href="../QbdCustomer/Index">
                            <div class="metroTitle">
                                <span style="position: absolute;">Customer<br>
                                    CRUD</span>
                            </div>
                        </a>
                    </div>
                </td>
                <td>
                    <div style="background-color: #CD4900; height: 100px; width: 210px;">
                        <a href="../QbdFilter/Index">
                            <div class="metroTitle">
                                <span style="position: absolute;">Invoice<br />
                                    Query</span>
                            </div>
                        </a>
                    </div>
                </td>
                <td>
                    <div style="background-color: #404040; height: 100px; width: 210px;">
                        <a href="../QbdBatch/Index">
                            <div class="metroTitle">
                                <span style="position: absolute;">Batch<br />
                                    Operation</span>
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <h2>
        Platform Service Operations:</h2>
        <br />
    <table class="tableClass">
        <tbody>
            <tr>
                <td>
                    <div style="background-color: #662D91; height: 100px; width: 210px;">
                        <a href="../PlatformService/GetIdsRealm">
                            <div class="metroTitle">
                                <span style="position: absolute;">Get<br>
                                    IdsRealm</span>
                            </div>
                        </a>
                    </div>
                </td>
                <td>
                    <div style="background-color: #008641; height: 100px; width: 210px;">
                        <a href="../PlatformService/GetIsRealmQbo">
                            <div class="metroTitle">
                                <span style="position: absolute;">Get<br>
                                    IsRealmQbo</span>
                            </div>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
