@{
    ViewBag.Title = "Logging";
}
<h2>
    Logging Messages</h2>
<br />
<textarea style="margin: 2px; width: 98%; height: 500px;">
@Html.Raw(IppDotNetDevKit_MvcWebRole.SampleLogging.LogMsg)
</textarea>
