<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <intuit>
    <ipp>
      <logger>
        <!-- To enable/diable Request and Response log-->
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="C:\IdsLogs"/>
        <!-- Custom Logger to configure -->
        <customLogger name="traceLogger" type="Intuit.Ipp.Diagnostics.TraceLogger, Intuit.Ipp.Diagnostics, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true"/>
      </logger>
      <security mode="Custom">
        <!-- OAuth key set to connect to Intuit Data Services-->
        <oauth accessToken="accessToken1" accessTokenSecret="accessTokenSecret1" consumerKey="consumerKey1" consumerSecret="consumerSecret1"/>
        <!-- Custom Security implementation-->
        <customSecurity name="cookieBasedRequestValidator" type="Intuit.Ipp.Security.CookieBasedRequestValidator, Intuit.Ipp.Security, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true" params="iamCookie1,appToken1"/>

      </security>
      <message>
        <!-- Serialization and compression formats to be used for Request and Response-->
        <request serializationFormat="Custom" compressionFormat="GZip"/>
        <response serializationFormat="Custom" compressionFormat="GZip"/>
        <!-- Custom component to serialize or compress-->
        <customSerializer name="jsonObjectSerializer" type="Intuit.Ipp.Utility.JsonObjectSerializer, Intuit.Ipp.Utility, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true"/>
      </message>
      <retry mode="Exponential">
        <!-- Retries specified number of times with a fixed specified interval between retry attempts-->
        <linearRetry retryCount="3" retryInterval="0.00:00:05"/>
        <!--Retries specified number of times with the specified incremental interval between retry attempts-->
        <incrementalRetry retryCount="3" initialInterval="0.00:00:05" increment="0.00:00:02"/>
        <!--Retries a specified number of times with a randomized exponential Backoff scheme-->
        <exponentialRetry retryCount="3" minBackoff="0.00:00:05" maxBackoff="0.00:00:15" deltaBackoff="0.00:00:01"/>
      </retry>
      <service>
        <!-- Baseurl will be configured to point to any environment other than Production (default)-->
         <baseUrl qbo="qbo1" ips="ips1" userNameAuthentication="userNameAuthentication1" oAuthAccessTokenUrl="oAuthAccessTokenUrl"/>
      </service>
      <webhooksService>
        <verfierToken value="00faeec4-08d0-4996-bb37-698ae19f0149"/>
      </webhooksService>
    </ipp>
  </intuit>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
