html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
}

html
{
}

body
{
    font-size: .85em;
    font-family: "Segoe UI" , Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section
{
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
ol, ul
{
    list-style: none;
}

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #f00;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid
{
    display: none;
}

/* Custom styles
----------------------------------------------------------*/

/* Header contents styles
-----------------------------------------------------------*/

header
{
    height: 100px;
    width: 100%;
    background-color: #2B73DD;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    position: absolute;
}

#logo
{
    background: url("http://images.smallbusiness.intuit.com/sbweb/common/images/sprites/ui/icom_5_element_tabbar.png?version=001");
    height: 105px;
    width: 160px;
    background-repeat: no-repeat;
    background-position: -189px -147px;
    margin: 0px 0 0 205px;
    float: left;
}

#logo a
{
    background: url("https://www.intuit.com/sbweb/common/images/sprites/global.png?version=003");
    background-repeat: no-repeat;
    background-position: -1006px -68px;
    float: left;
    height: 65px;
    width: 143px;
    margin-top: 35px;
    margin-left: 5px;
}

/* Footer contents styles
-----------------------------------------------------------*/

footer
{
    height: 100px;
    width: 100%;
    background-color: #2B73DD;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    left: 0;
    position: absolute;
}

/* main contents styles
-----------------------------------------------------------*/

#main
{
    min-height: 500px;
    margin: 0 10% Auto;
    margin-top: 8%;
}

.pageTitle
{
    font-family: 'Segoe light' , Segoe, 'Segoe UI' , Arial, sans-serif;
    font-size: 40px;
    line-height: 1em;
    color: rgba(14, 120, 150, 0.68);
    text-align: center;
}

.subTitle
{
    color: #0072C6;
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5px;
}

.sliderControls
{
    margin: 10px 7% 30px;
    position: relative;
}

.sliderControls ul
{
    width: 100px;
    margin: 0 auto;
    padding-top: 7px;
}

.sliderControls li
{
    display: block;
    float: left;
    margin-left: 3px;
}

.sliderControls li:first-child
{
    margin: 0;
}

.sliderControls li a
{
    display: block;
    width: 9px;
    height: 9px;
    border: 1px solid #6E6F71;
    text-indent: -9999px;
    overflow: hidden;
}

.active
{
    background-color: #2581C4;
}

.sliderView
{
    color: White;
    background-color: #0072C6;
    height: 400px;
    min-height: 400px;
    width: 930px;
    position: relative;
    left: 7%;
}

.sliderViewTitle
{
    font-size: 20px;
    line-height: 1em;
    font-weight: 100;
    margin-bottom: 25px;
}

.sliderView .box
{
    position: absolute;
    font-size: 16px;
    padding: 20px;
}

.prev
{
    width: 17px;
    height: 25px;
    display: block;
    background: url("images/prev.png");
    text-indent: -9999px;
    overflow: hidden;
    float: left;
}

.next
{
    width: 17px;
    height: 25px;
    display: block;
    background: url("images/next.png");
    text-indent: -9999px;
    overflow: hidden;
    float: right;
}





