<?xml version="1.0" encoding="utf-8"?>
<!-- US Prod -->
<configuration>
  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>

  <intuit>
    <ipp>
      <!--<logger>
         -->
      <!--To enable/diable Request and Response log-->
      <!--
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="C:\IdsLogs" />
         -->
      <!--Custom Logger to configure 
        <customLogger name="traceLogger" type="Intuit.Ipp.Diagnostics.TraceLogger, Intuit.Ipp.Diagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true" />-->
      <!--
      </logger>-->
      <message>
        <!--Serialization and compression formats to be used for Request and Response-->
        <request serializationFormat="Json"/>
        <response serializationFormat="Json"/>
        <!--Custom component to serialize or compress
        <customSerializer name="jsonObjectSerializer" type="Intuit.Ipp.Utility.JsonObjectSerializer, Intuit.Ipp.Utility, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true" />-->
      </message>
      <service>
        <!--Baseurl will be configured to point to any environment other than Production (default)-->
        <baseUrl qbo="https://quickbooks.api.intuit.com/"/>
        <!--<baseUrl qbo ="https://qbonline-e2e.api.intuit.com/" />-->
        <!--oauth2 prod base url on developer-stage.intuit.com-->
        <!--<baseUrl qbo ="https://quickbooks-e2e-qydc.api.intuit.com/"/>-->
      </service>
    </ipp>
  </intuit>
  <appSettings>

    <!-- Prod Environment -->
    <!-- ********************************************************************************************* -->

   

  

     <!--US Company-->
   

    <add key="consumerKeyQBO" value="qyprdTofPrkvPkTvyrhmhGkQVeCkk7" />
    <add key="consumerSecretQBO" value="B4aPhgMLu91cL5ONHLvH6ulpxa8yxYGkuKfEhWLk" />
    <add key="accessTokenQBO" value="qyprdLcblnYOAeQDBqmSOPWmbubMHACzzp7WQuZa8pd8o0Xz" />
    <add key="accessTokenSecretQBO" value="KyhtVDFbqLPG6BizwGdmck8CxGtLXdtea6w1tjA9" />
    <add key="realmIdIAQBO" value="1269959970" />
    
    
    
    <!--Specify AccessToken Value for c39 company -->
    <!--<add key="ConsumerKeyQBO" value="qyprdTofPrkvPkTvyrhmhGkQVeCkk7" />
    <add key="ConsumerSecretQBO" value="B4aPhgMLu91cL5ONHLvH6ulpxa8yxYGkuKfEhWLk" />
    <add key="AccessTokenQBO" value="lvprdbOAtWfGuNmrKliEongHcXcy5ZxvXU1uucO2n7rGBHwO" />
    <add key="AccessTokenSecretQBO" value="tunfhYFmSKDpjR8BN0Fl8Mslq62fvXbQorKwTLKX" />
    <add key="realmIdIAQBO" value="417101116" />-->
    
    
      
      
       
    <!--Specify AccessToken Value for c92 company -->
    <!--<add key="ConsumerKeyQBO" value="qyprdTofPrkvPkTvyrhmhGkQVeCkk7" />
    <add key="ConsumerSecretQBO" value="B4aPhgMLu91cL5ONHLvH6ulpxa8yxYGkuKfEhWLk" />
    <add key="AccessTokenQBO" value="lvprd0QZMlkzZXQrizUi2wmDqVXGw8uzkwORHZDTLQnMJDZy" />
    <add key="AccessTokenSecretQBO" value="vdlw6OO6tnE8knfiG26daggiZaWnMLqXYCrWjHZl" />
    <add key="realmIdIAQBO" value="416437316" />-->
    
    
    <!--c4-->
    <!--<add key="ConsumerKeyQBO" value="lve2e3f2LfgELSI2snV6MRp3SDRvUI" />
    <add key="ConsumerSecretQBO" value="g5XZE4uod3Nh3Fm6l4o8tr8HMy2pqIxOAvuXXpSv" />
    <add key="AccessTokenQBO" value="qye2eTGYIqyQGy6TPPPtoqeukflgd7Nm0r6SfdXS9dzpHLOP" />
    <add key="AccessTokenSecretQBO" value="Re7pHl8D9yDaHmthzaIO4tXzATDBFxdRdYvcnrWQ" />
    <add key="realmIdIAQBO" value="123146623326094" />-->
  
    
    <!--Oauth2 keys-->
    <!--e2e-->
    <!--<add key="clientIdQBO" value="Q3fFfxp1XSzD7mBZuD5uaZguCaIIiwo1hBhRYnHqSfygiKgpbh" />
    <add key="clientSecretQBO" value="RM2C3i5KoN1W0naEx3vIdJjFFsu6wYARubwKz82q" />
    <add key="accessTokenQBO" value="eyJlbmMiOiJBMTI4Q0JDLUhTMjU2IiwiYWxnIjoiZGlyIn0..Ej5ssiAaBId4iup3fogJ0g.yiMWm59srXRChMeiA7CG1pGLIjV0Yw9_TiHnQri5edWqZvjnI_9tAVxbse_AqmdKiEFGwcS0dR0-3435PNImRFjOItrfkgAaTrkQYdf68foXdD5fDb7mZ_Z9OE4IkBMsVBNKGkHXvrEjGPm2kMAcDRfZZj-xAxn9n3dV-pU3MifFruIBNBYoN-ruoKBfEMD0Zl27LJ4oJgFrHi98dFsq8-LJgibU8wXgs7B73IQPFZQ5eiLWE2CxAxnyhvKZXm7aHClq1XCa03qdwnOhn-nxCn4JlgvyWDa9g7Tdw9Cgjsfft_DkNtonhN0AyfS1dlaMyHIji9lLSW1l756h7FA1CL51ga9vhLr7FhWwPmV6Nq5xDymSVk8q5RMVG9IeyWK-1wrkaopimh-PozSGu45Vx07mTpzdhs6H6zbqfqZ6fqaSVKdm_LIpcSHEX5LpJfNTGwefytcr6ZFbCxkEqhX9nLJBGOB7OMtWksxmT8zGk5v9L8KwxZjYNcXXYD0n9HutYXRlCZkpKv2hxW7kZnvMlmN3H2P08mzCDIHBwjtrAh_OQfr_VvZah9A-BxnbihPaCC1LxhQzs_B_dyJCGoFZ2QV2Svef3CDs3OaS1ECGJD6XJYKA2RqgaMn54esMIbBu9qHJILUB8-hFsVYB9z3zcTOftWbfj1FkC1O2ZQI2l9-FbD2RWO6GxjA58cKRYmhQ1hjNktNRgdzRr-ZRJMzWER1CfXzlc31zd8H07Zq4AMEL0xZqrk-2HbzUWQiLG8JX22Af58WCm3joHoOS4gO0p9gAuFyAJI3cApC4dtIqd_41F9RX92c8akTpMPdLzbXfIYBtBuvcUz6LQ5nrE0ghaw.q9b7DgK2Pq1bdXMsWU8ocg"/>
    <add key="refreshTokenSecretQBO" value="Q3115182154646QRmU1hOBWtvyUNtXEcCQf5McneD6pDHrsskQ" />
    <add key="realmIdIAQBO" value="123146738339809" />-->
    <!--prod-->
    <!--<add key="clientIdQBO" value="Q0sjtFXKsgWmzaiG20m8UBjUXxDGAtsJsiE3iURLwQTOTN6Uv7" />
    <add key="clientSecretQBO" value="6snKNjIfexDM3aSnZtHQUJ23KGSvHfV8jK59jLX3" />
    <add key="accessTokenQBO" value=""/>
    <add key="refreshTokenSecretQBO" value="Q011518216657aIKt2uoYQUbpmKhQOw8uoLBhehoxtRl73T2Q8" />
    <add key="realmIdIAQBO" value="1269959970" />-->
    

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
