<?xml version="1.0" encoding="utf-8"?>
<!-- US Prod -->
<configuration>
  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>

  <intuit>
    <ipp>
      <!--<logger>
         -->
      <!--To enable/diable Request and Response log-->
      <!--
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="C:\IdsLogs" />
         -->
      <!--Custom Logger to configure 
        <customLogger name="traceLogger" type="Intuit.Ipp.Diagnostics.TraceLogger, Intuit.Ipp.Diagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true" />-->
      <!--
      </logger>-->
      <message>
        <!--Serialization and compression formats to be used for Request and Response-->
        <request serializationFormat="Json"/>
        <response serializationFormat="Json"/>
        <!--Custom component to serialize or compress
        <customSerializer name="jsonObjectSerializer" type="Intuit.Ipp.Utility.JsonObjectSerializer, Intuit.Ipp.Utility, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true" />-->
      </message>
      <service>
        <!--Baseurl will be configured to point to any environment other than Production (default)-->
        <baseUrl qbo="https://quickbooks.api.intuit.com/"/>
        <!--<baseUrl qbo="https://quickbooks-e2e.api.intuit.com/"/>-->
        <!--<baseUrl qbo="https://quickbooks2-qal.api.intuit.com/" />-->
        <!--oauth2 prod base url on developer-stage.intuit.com-->
        <!--<baseUrl qbo ="https://quickbooks-e2e-qydc.api.intuit.com/"/>-->
      </service>
    </ipp>
  </intuit>
  <appSettings>

    <add key="consumerKeyQBO" value="qyprdTofPrkvPkTvyrhmhGkQVeCkk7" />
    <add key="consumerSecretQBO" value="B4aPhgMLu91cL5ONHLvH6ulpxa8yxYGkuKfEhWLk" />
    <add key="accessTokenQBO" value="lvprdcQatOnGxmEVd1ADdP0ggvjLrxt7O0ZQLJGEFSx6PAQF" />
    <add key="accessTokenSecretQBO" value="jotVGK7za9SpLB5vawT8T8uBch1sYxldNtPV0rnf" />
    <add key="realmIdIAQBO" value="123146162893914" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
