<?xml version="1.0" encoding="utf-8"?>
<!-- US Prod -->
<configuration>
  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true" />
    </sectionGroup>
  </configSections>

  <intuit>
    <ipp>
      <!--<logger>
         -->
      <!--To enable/diable Request and Response log-->
      <!--
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="C:\IdsLogs" />
         -->
      <!--Custom Logger to configure 
        <customLogger name="traceLogger" type="Intuit.Ipp.Diagnostics.TraceLogger, Intuit.Ipp.Diagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true" />-->
      <!--
      </logger>-->
      <message>
        <!--Serialization and compression formats to be used for Request and Response-->
        <request serializationFormat="Json" />
        <response serializationFormat="Json" />
        <!--Custom component to serialize or compress
        <customSerializer name="jsonObjectSerializer" type="Intuit.Ipp.Utility.JsonObjectSerializer, Intuit.Ipp.Utility, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true" />-->
      </message>
      <service>
        <!--Baseurl will be configured to point to any environment other than Production (default)-->
        <baseUrl qbo="https://sandbox-quickbooks.api.intuit.com/" />
        <!--<baseUrl qbo ="https://qbonline-e2e.api.intuit.com/" />-->

        
        
      </service>
    </ipp>
  </intuit>
  <appSettings>

    <!-- Prod Environment -->
    <!-- ********************************************************************************************* -->

   

  

     <!--US Company-->
   

    <!--<add key="ConsumerKeyQBO" value="" />
    <add key="ConsumerSecretQBO" value="" />
    <add key="AccessTokenQBO" value="" />
    <add key="AccessTokenSecretQBO" value="" />
    <add key="realmIdIAQBO" value="" />-->
    
    <!--Specify AccessToken Value for QBO c4 diana-->
    <add key="ConsumerKeyQBO" value="" />
    <add key="ConsumerSecretQBO" value="" />
    <add key="AccessTokenQBO" value="" />
    <add key="AccessTokenSecretQBO" value="" />
    <add key="realmIdIAQBO" value="" />
  
    
    
    

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
