@model IppDotNetDevKit_MvcWebRole.Models.QueryModel
@{
    ViewBag.Title = "Qbd Invoice Query Filter";
}
<div style="float: right; margin-right: 5px; margin-top: 5px;">
    <a href="../Home/Index">
        <img src="../../Images/back.png" alt="Back" style="max-height: 30px;" />
    </a>
</div>
<h2>
    Qbd Invoice Query Filter</h2>
<h3>
    Demonstrates Query operations using the LINQ clauses such as Select, Where, OrderBy, Count, Skip and Take, performed on QuickBooks entities.
</h3>
<br />

<table class="tableClass" style="margin-left: 5%;">
    <tbody>
        <tr>
            <td>
                <div style="background-color: #0072BC; height: 100px; width: 210px;">
                    <a href="../QbdFilter/Where">
                        <div class="metroTitle">
                            <span style="position: absolute;">Where<br>
                                Simple</span>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div style="background-color: #CD4900; height: 100px; width: 210px;">
                    <a href="../QbdFilter/Select">
                        <div class="metroTitle">
                            <span style="position: absolute;">Select<br>
                                Simple</span>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div style="background-color: #008641; height: 100px; width: 210px;">
                    <a href="../QbdFilter/OrderBy">
                        <div class="metroTitle">
                            <span style="position: absolute;">OrderBy<br>
                                Asc/Desc</span>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div style="background-color: #FF0000; height: 100px; width: 210px;">
                    <a href="../QbdFilter/Complex">
                        <div class="metroTitle">
                            <span style="position: absolute;">Complex<br>
                                Query</span>
                        </div>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="background-color: #662D91; height: 100px; width: 210px;">
                    <a href="../QbdFilter/Count" class="metroLinks">
                        <div class="metroTitle">
                            <span style="position: absolute;">Count<br />
                                Simple</span>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div style="background-color: #404040; height: 100px; width: 210px;">
                    <a href="../QbdFilter/Pagination" class="metroLinks">
                        <div class="metroTitle">
                            <span style="position: absolute;">Pagination<br />
                                (Skip/Take)</span>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div style="background-color: #0080FF; height: 100px; width: 210px;">
                    <a href="../QbdFilter/QueryString" class="metroLinks">
                        <div class="metroTitle">
                            <span style="position: absolute;">Query<br />
                                String</span>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div style="background-color: #B404AE; height: 100px; width: 210px;">
                    <a href="../QbdFilter/MultipleQueries" class="metroLinks">
                        <div class="metroTitle">
                            <span style="position: absolute;">Multiple<br />
                                Queries</span>
                        </div>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>