<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>

    <!--This setting is optional. If nothing is specified, input folder will be considered as <AppRootPath>\Schema -->    
    <add key="InputSchemaFolder" value=""/>

    <!--This setting is optional. If nothing is specified, output folder will be placed under Intuit.IPP.DataObject\CDMEntities\ -->
    <add key="OutputClassFileFolder" value=""/>
    
  </appSettings>

  <!--<system.diagnostics>
    <switches>
      <add name="IPPTraceSwitch" value="4"/>
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="IdsTracer" type="System.Diagnostics.TextWriterTraceListener, System, Version=4.0.30319.1, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="D:\\XsdGeneration.log"/>
      </listeners>
    </trace>
  </system.diagnostics>-->


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
