<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--https://data-services-1.intuit.com <https://data-services-1.intuit.com/> -->
    <add key="QBDBASEURL" value="https://data-services-1.intuit.com/"/>

    <!--Intuit Anywhere QBD-->
    <!--Specify AccessToken Value for QBD-->
    <add key="AccessTokenQBD" value="qye2e5ut2F6XIaKE6pJ58zRbceoWSnWF0bOEssFFHVp96eEW"/>
    <!--Specify accessTokenSecret Value for QBD-->
    <add key="AccessTokenSecretQBD" value="Yc0SkVXsK22lyLHLJ6ch24Z0sqn7mNQviSgqMcE9"/>
    <!--Specify consumerKey Value for QBD-->
    <add key="ConsumerKeyQBD" value="qye2eKNlWXp9KoYhA6BQT8izLpu9ho"/>
    <!--Specify consumerSecret Value for QBD-->
    <add key="ConsumerSecretQBD" value="nWPzU32MjqbKUt7F3z2esrrYiy1Cs2gkvOCofErV"/>
    <!--Specify realmIdIA Value for QBD-->
    <add key="RealmIAQBD" value="219168792"/>

  </appSettings>
</configuration>