<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <intuit>
    <ipp>
      <logger>
         
      <!--To enable/diable Request and Response log-->
      
        <!--<requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="C:\IdsLogs" />-->
         
      <!--Custom Logger to configure--> 
        <customLogger name="traceLogger" type="Intuit.Ipp.Diagnostics.TraceLogger, Intuit.Ipp.Diagnostics, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true"/>
      
      </logger>
      <message>
        <!--Serialization and compression formats to be used for Request and Response-->
        <request serializationFormat="Json" compressionFormat="None"/>
        <response serializationFormat="Json" compressionFormat="None"/>
        <!--Custom component to serialize or compress
        <customSerializer name="jsonObjectSerializer" type="Intuit.Ipp.Utility.JsonObjectSerializer, Intuit.Ipp.Utility, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true" />-->
      </message>
      <service>
        <!--Baseurl will be configured to point to any environment other than Production (default)-->
        <baseUrl qbo="https://sandbox-quickbooks.api.intuit.com/"/>
       
      </service>
      <webhooksService>
        <verfierToken value="00faeec4-08d0-4996-bb37-698ae19f0149"/>
      </webhooksService>
    </ipp>
  </intuit>
  <appSettings>


    <!--Specify AccessToken Value for QBO-->
    <add key="ConsumerKeyQBO" value=""/>
    <add key="ConsumerSecretQBO" value=""/>
    <add key="AccessTokenQBO" value=""/>
    <add key="AccessTokenSecretQBO" value=""/>
    <add key="realmIAQBO" value=""/>


    <!--Intuit Anywhere QBO-->   

    <add key="AppTokenQBO" value="d655f47cb81e7b4bb1b938eb5d406c143432"/>


   
  
    <add key="AccountID" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
