@{
    ViewBag.Title = "Error";
}
<style type="text/css">
    #mainContetntDiv
    {
        padding-top: 30px;
    }
</style>
<div style="border: 2px solid red; color: Red">
    <div style="padding: 20px;">
        @ViewBag.Message
    </div>
</div>
