<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IntuitSampleMVC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true" />
    </sectionGroup>
  </configSections>

  <intuit>
    <ipp>
      <message>
        <request compressionFormat="None" serializationFormat="Xml"/>
        <response compressionFormat="None" serializationFormat="Xml"/>
      </message>
    </ipp>
  </intuit>

  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Constants -->
    <add key="Url_Request_Token" value="/get_request_token"/>
    <add key="Url_Access_Token" value="/get_access_token"/>
    <add key="Intuit_OAuth_BaseUrl" value="https://oauth.intuit.com/oauth/v1"/>
    <add key="Intuit_Workplace_AuthorizeUrl" value="https://workplace.intuit.com/Connect/Begin"/>
    <add key="BlueDot_AppMenuUrl" value="https://workplace.intuit.com/api/v1/Account/AppMenu"/>
    <add key="DisconnectUrl" value="https://appcenter.intuit.com/api/v1/Connection/Disconnect"/>

    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="oauth_callback_url" value="/OauthResponse"/>
    <add key="menuProxy" value="MenuProxy"/>
    <add key="grantUrl" value="OauthGrant"/>
    <add key="qbo_base_url" value="https://qbo.intuit.com/qbo1/rest/user/v2/"/>

    <!-- Enter the Application Name by replacing YourAppName -->
    <add key="openid_identifier" value="https://openid.intuit.com/Identity-QBO-IA-App"/>
    <!-- Enter Application Token Value -->
    <add key="applicationToken" value="4c8376e7b321fb467ebad5bb44534e8683ff"/>
    <!-- Enter Consumer Key Value for the specified application -->
    <add key="consumerKey" value="qyprd7kyyJWZLqrDlZfD7Kt3wtNqWl"/>
    <!-- Enter Consumer Secret Value for the specified application -->
    <add key="consumerSecret" value="mWLiONJ14DCVcEtqB7A2NcXbnDb54nEzrfGyMIC2"/>
    <!--encryption key.Provide alphanumeric string as your security key for encryption/decryption here-->
    <add key="securityKey" value="tyurptz"/>
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="Home/Error" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
